<h3>Welcome to the Team Snap Weather App</h3>
<h4>Please sign into your team snap account in order to get the weather forecast for your upcoming events</h3>

<a href="https://auth.teamsnap.com/oauth/authorize?client_id=94ff5443c6026c1a30765180b8a4700f5ded6630175386b46995728132e3cc36&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Foauth2%2Fcallback&response_type=code">Authorize Your Team Snap Account</a>